#jinja2: lstrip_blocks: "true", trim_blocks: "false"
---
- job_name: "prometheus"
  metrics_path: "/prometheus/metrics"
  static_configs:
    - targets:
        - "127.0.0.1:9090"
  relabel_configs:
    - target_label: instance
      replacement: {{ ansible_local.aws_tags.name }}

- job_name: "alertmanager"
  metrics_path: "/alertmanager/metrics"
  static_configs:
    - targets:
        - "127.0.0.1:9093"
  relabel_configs:
    - target_label: instance
      replacement: {{ ansible_local.aws_tags.name }}

- job_name: nodes
  ec2_sd_configs:
  {% for region in monitor_regions %}
    - region: "{{ region }}"
      profile: "{{ ansible_local.aws_instance.instance_profile_arn }}"
      port: 9100
      filters:
        - name: tag:Namespace
          values:
            - "{{ ansible_local.aws_tags.namespace }}"
        - name: tag:Stage
          values:
            - "{{ ansible_local.aws_tags.stage}}"
  {% endfor %}
  relabel_configs:
    - source_labels: [__meta_ec2_instance_id]
      target_label: instance_id
    - source_labels: [__meta_ec2_tag_Name]
      target_label: instance
    - source_labels: [__meta_ec2_tag_Namespace]
      target_label: namespace
    - source_labels: [__meta_ec2_tag_Stage]
      target_label: stage
    - source_labels: [__meta_ec2_tag_Name]
      regex: ".*Packer Builder.*"
      action: drop
    - source_labels: [__meta_ec2_tag_Application]
      regex: ".*nat-instance.*"
      action: drop
    - source_labels: [__meta_ec2_tag_Name]
      regex: ".*nat-instance.*"
      action: drop


- job_name: cloudflared-link
  ec2_sd_configs:
    - region: "{{ aws_region }}"
      profile: "{{ ansible_local.aws_instance.instance_profile_arn }}"
      port: 9300
      filters:
        - name: tag:Application
          values:
            - link
        - name: tag:Namespace
          values:
            - "{{ ansible_local.aws_tags.namespace }}"
        - name: tag:Stage
          values:
            - "{{ ansible_local.aws_tags.stage }}"
  relabel_configs: &relabel
    - source_labels: [__meta_ec2_instance_id]
      target_label: instance_id
    - source_labels: [__meta_ec2_tag_Name]
      target_label: instance
    - source_labels: [__meta_ec2_tag_Namespace]
      target_label: namespace
    - source_labels: [__meta_ec2_tag_Stage]
      target_label: stage
    - source_labels: [__meta_ec2_tag_Project]
      target_label: project
    - source_labels: [__meta_ec2_tag_Name]
      regex: ".*Packer Builder.*"
      action: drop

- job_name: cloudflared-graphql
  ec2_sd_configs:
    - region: "{{ aws_region }}"
      profile: "{{ ansible_local.aws_instance.instance_profile_arn }}"
      port: 9301
      filters:
        - name: tag:Application
          values:
            - link
        - name: tag:Namespace
          values:
            - "{{ ansible_local.aws_tags.namespace }}"
        - name: tag:Stage
          values:
            - "{{ ansible_local.aws_tags.stage }}"
  relabel_configs: *relabel

- job_name: cloudflared-cunei
  ec2_sd_configs:
    - region: "{{ aws_region }}"
      profile: "{{ ansible_local.aws_instance.instance_profile_arn }}"
      port: 9300
      filters:
        - name: tag:Application
          values:
            - cunei
        - name: tag:Namespace
          values:
            - "{{ ansible_local.aws_tags.namespace }}"
        - name: tag:Stage
          values:
            - "{{ ansible_local.aws_tags.stage }}"
  relabel_configs: *relabel

- job_name: cloudflared-cuwei
  ec2_sd_configs:
    - region: "{{ aws_region }}"
      profile: "{{ ansible_local.aws_instance.instance_profile_arn }}"
      port: 9300
      filters:
        - name: tag:Application
          values:
            - cuwei
        - name: tag:Namespace
          values:
            - "{{ ansible_local.aws_tags.namespace }}"
        - name: tag:Stage
          values:
            - "{{ ansible_local.aws_tags.stage }}"
  relabel_configs: *relabel

- job_name: zammad
  ec2_sd_configs:
    - region: "{{ aws_region }}"
      profile: "{{ ansible_local.aws_instance.instance_profile_arn }}"
      port: 9390
      filters:
        - name: tag:Application
          values:
            - link
        - name: tag:Namespace
          values:
            - "{{ ansible_local.aws_tags.namespace }}"
        - name: tag:Stage
          values:
            - "{{ ansible_local.aws_tags.stage }}"
  relabel_configs: *relabel
